In [1]:
import numpy as np
import pandas as pd

In [18]:
t1 = pd.read_csv('readingdata\TESTE3.txt', delimiter="\t")
t1

      Ângulo  Velocidade  Aceleração  Tempo
0         89          19           9  34977
1        118          14           1  35027
2         80          28           6  35077
3        104          32           7  35127
4        171          28           7  35177
...      ...         ...         ...    ...
4285      15          29           5  51227
4286     126          45           7  51277
4287      41          10           5  51327
4288      72          38           7  51377
4289      50          13           8  51427

[4290 rows x 4 columns]

In [19]:
import serial.tools.list_ports

ports = serial.tools.list_ports.comports()
serialInst = serial.Serial()

portList = []

for onePort in ports:
    portList.append(str(onePort))
    print(str(onePort))

COM1 - Porta de comunicação (COM1)
COM3 - Silicon Labs CP210x USB to UART Bridge (COM3)