## Importação das Bibliotecas

In [1]:
import numpy as np
import pandas as pd

## Leitura dos dados

In [13]:
rpm35 = pd.read_csv('readingdata\RPM35.txt', delimiter=",")
rpm35

     Ângulo  Velocidade
0       116       37.08
1       114       35.39
2       109       35.05
3       107       35.15
4       102       35.52
..      ...         ...
107     132       35.55
108     127       37.59
109     125       35.51
110     120       35.12
111     118       35.24

[112 rows x 2 columns]

In [ ]:
rpm40 = pd.read_csv('readingdata\RPM40.txt', delimiter="\t")
rpm40

In [9]:
rpm50 = pd.read_csv('readingdata\RPM50.txt', delimiter=",")
rpm50

     Velocidade  Ângulo
0           222   53.79
1           216   54.08
2           213   54.10
3           210   53.81
4           203   53.69
..          ...     ...
124         341   53.64
125         335   53.33
126         331   53.90
127         325   53.91
128         322   54.10

[129 rows x 2 columns]

In [ ]:
rpm60 = pd.read_csv('readingdata\RPM60.txt', delimiter=",")
rpm60

In [ ]:
rpm70 = pd.read_csv('readingdata\RPM70.txt', delimiter=",")
rpm70